# Build folders
bin/
obj/

# Rider / Visual Studio IDE
.idea/
.vs/
*.user
*.suo

# User-specific files
*.userosscache
*.sln.docstates

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Backup files
*.bak
*.orig

# OS files
.DS_Store
Thumbs.db
